body{
    margin:0 ;
}
.debug{
    border: 2px dashed red;
    background-color: #f67373;
    min-height: 50px;
    padding: 5px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
main{
     background-color: hsla(259, 85%, 5%, 0.604);
     flex-grow: 1;
     display: flex;
     height:calc(100vh - 110px);
     cursor: pointer;
}

footer{
    height: 70px;
    background-color: hsl(0, 0%, 24%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
}
.playlist{
    background-color: black;
    width: 170px;
    overflow: auto;
}
.content{
    width: calc(100% - 170px);
    overflow: auto;
    background-color: #13131e;
}
.playlist .spotify{
    margin: 11px 0 16px 0;
}

.playlist .spotify #name{
    color: white;
    font-size: 23px;
    margin-bottom: 30px;
   
}
.playlist .spotify img{
   width: 30px;
   height: 30px;
   margin-left: 10px;
   padding-left: 10px;
}
.search{
    display: flex;
    flex-direction: column;
    color: lightgray;
}
.search img{
   width: 22px;
   height: 22px;
   padding-left: 10px;
   margin-left: 10px;
   margin-right: 5px;
}
.search #name{
    font-size: 12px;
    font-weight: bold;
}
.search  .name-home img {
    border-left: 5px solid limegreen;
    margin-right: 5px;
    padding-left: 15px;
    margin-left: 0;
}
.main-playlist{
    color: lightgrey;
    width: 100%;
    height: 320px;
}
.footer-playlist{
    color:rgba(255, 255, 255, 0.50) ;
    height: 30px;
}
.main-playlist h4{
    padding-left: 13px;
    margin: 15px 10px;
    color: white;
    font-weight: bold;
}
.main-playlist p{
    padding-left: 10px;
    margin: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    
}
.main-playlist .creation{
    padding: 6px 8px;
    background-color: gray;
    color: hsl(0, 0%, 0%);
    margin-top: 12px ;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
}

.playlist-bottom #card #img-footer{
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    
}
.playlist-bottom  #card,
.playlist-bottom  #card-2{
    padding: 0 10px;
}

.playlist-bottom  #card img{
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.footer-playlist .playlist-bottom #app{
    font-size: 12px;
}

.playlist-bottom #card-2 #profile img{
    height: 15px;
    width: 15px; 
    margin-left: 10px;
    padding: 1.5px;
    margin-right: 8px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: grey;
}
.footer-playlist .playlist-bottom #card{
    margin-top: 30px;
    padding-top: 00px;  
}
.footer-playlist .playlist-bottom #card-2{
    margin-top: 20px;
    padding-top: 0px;
}
.footer-playlist .playlist-bottom #profile{
    color: white;
    font-size: 15px; padding-top: 5px;
}
footer .piece-of-music{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .piece-of-music .title-piece{
    display: flex;
    flex-direction: column;
}
footer .piece-of-music .title-piece p,
footer .piece-of-music .title-piece h4{
    margin: 0 ;
    padding: 0 10px;
    font-weight: bold;
}
footer .piece-of-music .title-piece h4{
    color: white;
    font-size: 12px;
}
footer .piece-of-music .title-piece p{
     color: lightgray;
     font-size: 10px;
}
footer .piece-of-music .icons span{
   display: flex;
    color:lightgray;
    flex-direction: row; 
}
.piece-of-music .icons span i{
    margin: 4px;
    font-size: 11px;
}

.piece-of-music .img-piece img{
    width: 35px;
}
.riproduction{
    display: flex;
    flex-direction: column;
}
.riproduction .icon-riproduction{
    padding-top: 3px;
    color: white;
    text-align: center;
    padding: 0 25px;
}
.riproduction .icon-riproduction i{
    margin: 10px;
    font-size: 14px;
}
.riproduction .icon-riproduction span .fa-circle-play{
    font-size: 22px;
}
footer .inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer .inline .time-1{
    font-size: 12px;
    color: white;

}
footer .inline > .line{
    background-color: grey;
    width: 100%;
    height: 5px;
    align-items: center;
    margin: 0.3rem 0.3rem;
    border-radius: 10%;

}
footer .inline .line > .line-2{
    height: 5px;
    width: 40%;
    background-color: limegreen;
    border-radius: 10%;

}
footer .inline .time-2{
    font-size: 12px;
    color: white;
}
footer .volume-music{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .volume-music .icon-music{
    color: white;
    font-size: 11px;
}
.volume-music .icon-music span i{
    margin: 4px;
}
footer .volume-music .icon-volume{
    color: white;
    font-size: 11px;
}
.volume-music .icon-volume i{
    margin: 8px;
}
.volume-music .icon-volume{
    display: flex;
    flex-direction: row;
}
 .icon-volume .icon-line{
    background-color: grey;
    width: 75px;
    height: 5px;
    align-items: center;
    margin: 0.6rem 0.2rem;
    border-radius: 10%;
}
footer .icon-volume .icon-line > .icon-line-2{
    height: 5px;
    width: 25px;
    background-color: limegreen;
    border-radius: 10%;
}
 .content  .upgrade{
    background-color: hsl(240, 57%, 5%);
    width: 100%;
    height: 75px;
 }
 .content  .upgrade .login{
    text-align: right;
    color: white;
    padding: 25px 5px;
    cursor: pointer;
 }
 .content  .upgrade .login span{
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 14px;
 }
 .content .search-music{
    height: 50px;
    text-align: center;
    padding-top: 10px;
   
 }
 .content .search-music .news span{
    margin: 12px;
    font-weight: bold;
    color: lightgray;
    font-size: 13px;
 }
 .content .search-music .news .line-news{
    background-color: limegreen;
    height: 2px;
    width: 30px;
    margin-left: 455px;
 }
 .type-song .title-song h2{
    color: white;
    margin-left: 12px;
    font-size: 20px;
 }

.type-song .container-row{
    display: flex;
    width: 100%;
}
.content .type-song .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    gap: .5rem;
    justify-content: center;
}
.content .type-song .row .col-1-6{
    width: calc(100% / 6);
    height: 215px;
    width: 215px;
}
.container-row .card-image{
    width: 100%;
    height: 80%;
}
.container-row .card-image  img{
     width: 80%;
}
.container-row .card-title h3{
    padding-top: 5px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    color: white;
}
.container-row .card-title p{
    margin-top: 2px;
    margin-left: 50px;
    color: lightgray;
}
.container-row .card-title .place{
    margin-left: 30px;
}
.container-row .card-title #place{
    margin-left: 65px;
}

.container-row .card-title .split{
    margin-left: 70px;
}
.container-row .card-title #split{
    margin-left: 65px;
}
.container-row .card-title .sinister{
    margin-left: 70px;
}
.container-row .card-title #sinister{
    margin-left: 75px;
}


.content .type-song-2 h2{
    color: white;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 70px;
    font-size: 20px;
 }
 .content .type-song-2 p{
    margin-left: 12px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 13px;
    color: lightgray;
 }
 .content .type-song-2 .container-row-2{
    width: 50%;
 }
 .type-song-2 .container-row-2 .row-2{
    display: flex;
    flex-direction: row;
 }

 



   /*Media Query*/
@media screen and (min-width: 890px){
    .content .search-music .news .line-news{
        background-color: limegreen;
        height: 2px;
        width: 30px;
        margin-left: 455px;
    }
    .main-playlist{
        height: 400px;
    }
}


   /*Media Query*/
@media screen and (max-width: 878px){
    .content .search-music .news .line-news{
        background-color: limegreen;
        height: 2px;
        width: 30px;
        margin-left: 120px;
    }
    .main-playlist{
        height: 320px;
    }
  
}

/* media query */
@media screen and (max-width: 552px){
    .content{
        width: 100%;
    }
    .search span #name{
        display:none;
    }
    .search #img img{
        width: 50%;
        height: 50%; 
        padding: 0 15px 0 0;
    }
    .playlist{
        background-color: black;
        width: 40px;
        overflow: auto;
    }
    .playlist .spotify #name{
        display: none;
    }
    .playlist .spotify img{
        width: 50%;
        height: 50%;
        padding: 0 15px 0 0;
    }
    .search  .name-home img {
        border: 0;
        margin-right: 5px;
        padding-left: 15px;
        margin-left: 10px;
    }
    .main-playlist{
        height: 320px;
    }

    h4, .name-playlist{
        display: none;
    }
    .footer-playlist{
        height: 30px;
    }
    .footer-playlist .playlist-bottom #app{
        display: none;
    }
    .footer-playlist .playlist-bottom{
        margin-top: 30px;
    }
    .playlist-bottom #card{
        padding: 0;
    }
    .playlist-bottom #card-2{
        padding: 0;
    }
    .playlist-bottom #card-2 img{
        margin-left: 10px;
    }
    .playlist-bottom #card #img-footer {
        width: 30%;
        height: 30%;
        padding: 0;
        margin-right: 10px; 
    }
    .footer-playlist .playlist-bottom #name-bottom{
        display: none;
    }
    .playlist-bottom #card-2 #profile{
       margin-left: 0;
    }
    .playlist-bottom #card-2 #profile img{
        margin: 0 10px 0 8px;
    }
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    footer .riproduction{
        display: flex; 
         flex-direction: column;
        justify-content: center;
    }
    .riproduction .inline{
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
    .riproduction .inline > line{
        max-width: 40%;
    }
    .riproduction .icon-riproduction{
        display: flex;
        flex-direction: row;
    }
    .riproduction .icon-riproduction i{
        margin: 2px 2px;
        font-size: 10px;
    }
    footer .piece-of-music{
        display: flex;
        flex-direction: row;
    }
    footer .volume-music{
        display: flex;
        flex-direction: row;
    }
    
    .volume-music .icon-music .icon-volume div{
        display: flex;
        flex-direction: row;
    }
    footer .piece-of-music .icons span{
        display: flex;
         color:lightgray;
         flex-direction: column; 
     }
    footer .piece-of-music .title-piece h4,
    footer .piece-of-music .title-piece p{
        display: flex;
        flex-direction: column;
    }
 
}